<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1>Tareas Privadas</h1>
              </div>
              <div class="col-lg-8 align-self-baseline pt-5">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let tarea of tareas">
                        {{tarea._id}} - {{tarea.name}}: {{tarea.description}}
                    </li>
                </ul>
            </div>     
        </div>
    </div>
</header>