<body>
    
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Registrate</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form (submit)="signUp()">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" [(ngModel)]="user.nombre" name="nombrecompleto" placeholder="Nombre Completo" required autofocus>
                            
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="date" [(ngModel)]="user.fecha" name="fecha" placeholder="fecha Nacimiento" required>
                            
                        </div>
                        
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" [(ngModel)]="user.email" name="email" placeholder="email" required autofocus>
                            
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" [(ngModel)]="user.password" name="password" placeholder="password" required>
                        </div>

                        <!-- <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="confirm_password" [(ngModel)]="user.confirmarPassword" class="form-control" placeholder="Confirmar Contraseña" required>
                        </div> -->
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recibir correos de SoMoRa Lance
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">
                                Iniciar Session
                            </button>
                        </div>
                        
                    </form>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>
    
    


</body>